<!-- views/new-order-cond-pag.ejs -->
<!doctype html>
<html>
<head>
    <title>Portale Innovazioni - Nuovo ordine</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav id="navbar-ordine" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a class="navbar-brand" href="#">Nuovo Ordine <%= idOrd %></a>
        </div>

        <div class="col-md-auto">
            <div class="row justify-content-md-center navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-auto">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownAzioni" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Azioni
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownAzioni">
                                <li><a class="dropdown-item" href="/new-order">Cliente</a></li>
                                <li><a class="dropdown-item" href="/new-order-product">Prodotti</a></li>
                                <li><a class="dropdown-item" href="/new-order-promo">Promozioni</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="/home">Annulla</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div data-spy="scroll" data-target="#navbar-ordine" data-offset="0">
        <div id="cond-pag">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <% condpag.forEach(function(condpag) { %>
                <tr>
                    <td scope="row"><%= condpag.ccod %></td>
                    <td><%= condpag.xcond %></td>
                    <td>
                        <form method="post" action="new-order-cond-pag">
                            <input type="hidden" name="ccodpag" value="<%= condpag.ccod %>">
                            <button type="submit" class="btn-primary bg-transparent text-primary border-0 align-bottom">
                                <i class="material-icons">&#xe5c8</i>
                            </button>
                        </form>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
